{#

This file is part of the YesWeHack BugBounty backend

(c) Romain Honel <romain.honel@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': sonata_admin.adminPool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">

        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">{{ 'title_restore'|trans({}, 'PicossSonataExtraAdminBundle') }}</h3>
            </div>
            <div class="box-body">
                {{ 'message_restore_confirmation'|trans({'%object%': admin.toString(object)}, 'PicossSonataExtraAdminBundle') }}
            </div>
            <div class="box-footer clearfix">
                <form method="POST" action="{{ admin.generateObjectUrl('untrash', object) }}">
                    <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">

                    <button type="submit" class="btn btn-danger"><i class="fa fa-reply fa-lg"></i> {{ 'btn_restore'|trans({}, 'PicossSonataExtraAdminBundle') }}</button>
                    {% if admin.hasRoute('trash') and admin.hasAccess('edit', object) %}
                        {{ 'restore_or'|trans({}, 'PicossSonataExtraAdminBundle') }}

                        <a class="btn btn-success" href="{{ admin.generateUrl('trash') }}">
                            <i class="glyphicon glyphicon-list"></i>
                            {{ 'link_action_trash'|trans({}, 'PicossSonataExtraAdminBundle') }}</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}