{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{#{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}#}

{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'title_restore'|trans({}, 'PicossSonataExtraAdminBundle') }}</h1>

        {{ 'message_restore_confirmation'|trans({'%object%': admin.toString(object)}, 'PicossSonataExtraAdminBundle') }}

        <div class="well well-small form-actions">
            <form method="POST" action="{{ admin.generateObjectUrl('untrash', object) }}">
                <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}" />

                <button type="submit" class="btn btn-danger"><i class="icon-random icon-white"></i> {{ 'btn_restore'|trans({}, 'PicossSonataExtraAdminBundle') }}</button>
                {% if admin.hasRoute('delete') and admin.isGranted('DELETE', object) %}
                    {{ 'restore_or'|trans({}, 'PicossSonataExtraAdminBundle') }}

                    <a class="btn btn-success" href="{{ admin.generateUrl('trash') }}">
                        <i class="icon-white icon-list"></i>
                        {{ 'link_action_trash'|trans({}, 'PicossSonataExtraAdminBundle') }}</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
