{% extends 'form_div_layout.html.twig' %}

{% block form_widget_simple %}
    {% spaceless %}
    {% set prepend = attr.prepend is defined and attr.prepend != false %}
    {% set append = attr.append is defined and attr.append != false %}

    {% if prepend == true or append == true %}
        <div class="span12{{ prepend ? ' input-prepend' : '' }} {{ append ? 'input-append' : '' }}">
        {% if prepend %}
            <span class="add-on">
                {% if attr.prepend_icon is defined %}
                <i class="icon-{{ attr.prepend_icon }}"></i>
                {% else %}
                {{ attr.prepend }}
                {% endif %}
            </span>
        {% endif %}
    {% endif %}

    {{ parent() }}

    {% if prepend == true or append == true %}
        {% if append %}
            <span class="add-on">
                {% if attr.append_icon is defined %}
                    <i class="icon-{{ attr.append_icon }}"></i>
                {% else %}
                    {{ attr.append }}
                {% endif %}
            </span>
        {% endif %}
        </div>
    {% endif %}
    {% endspaceless %}
{% endblock form_widget_simple %}